/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-dark: #9b9b9b;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #000000;
  --vt-c-black-soft: rgba(0,0,0,0.6);
  --vt-c-black-mute: rgba(0,0,0,0.4);

  --vt-c-indigo: #2c3e50;
  --vt-c-grey: #EEEEEE;
  --vt-c-grey-light: #D8D8D8;
  --main-background-color: #fffae6;
  --text-success: #1BD97B;
  --text-failed: #ff8a00;
  --filter-success: invert(74%) sepia(21%) saturate(1629%) hue-rotate(93deg) brightness(92%) contrast(89%);
  --filter-failed: invert(54%) sepia(47%) saturate(1329%) hue-rotate(358deg) brightness(98%) contrast(110%);
  --shadow-orange: rgba(255, 138, 0, 0.1);
  --primary-text-orange: #ff8a00;
  --secondary-text-orange: #ffe4b8;
  --terniary-text-orange: #311b07;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--main-background-color);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-black-soft);
}

/* semantic number variables for this project */
:root {
  --section-gap: 160px;
  --slip: 0.5rem;
  --slip-tablet: 1rem;
  --slip-desktop: 1.5rem;
  --border-radius-full: 32px;
  --border-radius-half: 16px;
  --border-radius-quarter: 8px;
  --gap: 16px;
  --gap-half: 8px;
  --gap-quarter: 4px;
  --gap-octo: 2px;
  --padding-gap: 16px;
  --padding-gap-half: 8px;
  --margin-gap: 16px;
  --margin-gap-half: 8px;
  --text-title: 2em;
  --text-subtitle: 1.5em;
  --text-detail: 0.875em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--main-background-color);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-black-soft);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
