@import "./base.css";
@import "./grid.css";

#app {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.bg-white {
  background-color: var(--vt-c-white);
}

.text-title {
  font-size: var(--text-title);
}

.text-subtitle {
  font-size: var(--text-subtitle);
}

.text-detail {
  font-size: var(--text-detail);
}

.primary-orange {
  color: var(--primary-text-orange);
}

.black {
  color: var(--vt-c-black);
}

.black-soft {
  color: var(--vt-c-black-soft);
}

.black-mute {
  color: var(--vt-c-black-mute);
}

.grey {
  color: var(--vt-c-grey);
}

.grey-light {
  color: var(--vt-c-grey-light);
}

.success {
  color: var(--text-success);
}

.filter-success {
  filter: var(--filter-success);
}

.failed {
  color: var(--text-failed);
}

.filter-failed {
  filter: var(--filter-failed);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  }
}
